.form-signin {
    background-color: white;
}

.form-page {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
}

h2 {
    font-size: 40px;
}

.form-field {
    box-shadow: 1px 1px 10px #F19820;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
}

input, textarea{
    margin-bottom: 2rem;
}

button {
    background-color: #F19820;
    color: white;
    border-color: white;
    border: 2px solid;
    padding: 0.2rem 2rem;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    color: #F19820;
    font-weight:bold;
    border-color: #F19820;
    box-shadow: 2px 2px 2px #666666;
}